{% extends 'base.html' %}
{% block title %}Yoshlar bilan ishlash
{% endblock %}
{% block content %}
    <section>
        <!-- Header -->
        <div class="mt-5 mt-md-3 mt-lg-2">
            <h2 class="fw-bold text-uppercase mb-1">Yoshlar bilan ishlash</h2>
            <p class="text-muted small">Yoshlar bilan ishlash bo'yicha faoliyatlar</p>
        </div>

        <div>
            {% for item in activities %}
                <div class="item">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    {% if item.event_date %}
                        <small>{{ item.event_date }}</small>
                    {% endif %}
                </div>
                {% empty %}
                <p>Faoliyatlar kiritilmagan.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
